/* Button styles */

.button {
    @include border-radius(0);
    background: $c-grey-green;
    color: $c-white;
    font-size: 18px;
    @include font-style($f-avenir-next-bold);
    text-align: center;
    text-transform: uppercase;
    width: 185px;
    display: block;
    margin: 0 auto;
    padding: 12px;
}