.about-content.container {
  padding-top: 40px;
}

.right-about-us {
  width: 60%;
  float: left;
}

.left-about-us {
  width: 30%;
  float: left;
  padding-left: 5%;
}

.about-us-count {
  font-size: 25px;
  font-weight: bold;
  color: #13887d;
  padding: 5px;
}

.info1 {
  width: 50%;
  float: left;
  padding-right: 20px;
}

.page-template-about-us h3 ,.contact-content h3{
  color: #13887d;
}

.contact-info li {
  float: left;
  list-style: none;
  max-width: -moz-calc(50% - 10px);
  max-width: -webkit-calc(50% - 10px);
  max-width: calc(50% - 10px);
  margin: 0 13px 10px 0;
  position: relative;
}
.contact-info li img{
  width: auto;
  height: 215px;
}
.contact-info li strong {
  font-size: 22px;
  font-family: "AvenirNextDemiBold";
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact-info li strong.contact-call {
  font-size: 14px;
  width: 95%;
}

.contact-info .read-more {
  background: #10726e;
  color: #ffffff;
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "AvenirNextDemiBold";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 15px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-form{
  background: #13887d;
  padding: 30px;
  margin-bottom: 30px;
}
.contact-content h3{
  text-align: center;
}