@charset "UTF-8";

/* Viland theme style */

/* Font */

/* Font style */

@font-face {
  font-family: 'AvenirNextMedium';
  src: url("../fonts/AvenirNextMedium.eot");
  src: url("../fonts/AvenirNextMedium.eot") format("embedded-opentype"), url("../fonts/AvenirNextMedium.woff2") format("woff2"), url("../fonts/AvenirNextMedium.woff") format("woff"), url("../fonts/AvenirNextMedium.ttf") format("truetype"), url("../fonts/AvenirNextMedium.svg#AvenirNextMedium") format("svg");
}

@font-face {
  font-family: 'AvenirNextDemiBold';
  src: url("../fonts/AvenirNextDemiBold.eot");
  src: url("../fonts/AvenirNextDemiBold.eot") format("embedded-opentype"), url("../fonts/AvenirNextDemiBold.woff2") format("woff2"), url("../fonts/AvenirNextDemiBold.woff") format("woff"), url("../fonts/AvenirNextDemiBold.ttf") format("truetype"), url("../fonts/AvenirNextDemiBold.svg#AvenirNextDemiBold") format("svg");
}

@font-face {
  font-family: 'AvenirNextDemiBoldItalic';
  src: url("../fonts/AvenirNextDemiBoldItalic.eot");
  src: url("../fonts/AvenirNextDemiBoldItalic.eot") format("embedded-opentype"), url("../fonts/AvenirNextDemiBoldItalic.woff2") format("woff2"), url("../fonts/AvenirNextDemiBoldItalic.woff") format("woff"), url("../fonts/AvenirNextDemiBoldItalic.ttf") format("truetype"), url("../fonts/AvenirNextDemiBoldItalic.svg#AvenirNextDemiBoldItalic") format("svg");
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url("../fonts/AvenirNextBold.eot");
  src: url("../fonts/AvenirNextBold.eot") format("embedded-opentype"), url("../fonts/AvenirNextBold.woff2") format("woff2"), url("../fonts/AvenirNextBold.woff") format("woff"), url("../fonts/AvenirNextBold.ttf") format("truetype"), url("../fonts/AvenirNextBold.svg#AvenirNextBold") format("svg");
}

@font-face {
  font-family: 'ProximaNovaAltBold';
  src: url("../fonts/ProximaNovaAltBold.eot");
  src: url("../fonts/ProximaNovaAltBold.eot") format("embedded-opentype"), url("../fonts/ProximaNovaAltBold.woff2") format("woff2"), url("../fonts/ProximaNovaAltBold.woff") format("woff"), url("../fonts/ProximaNovaAltBold.ttf") format("truetype"), url("../fonts/ProximaNovaAltBold.svg#ProximaNovaAltBold") format("svg");
}

/* Icon font */

@font-face {
  font-family: 'Viland-icon';
  src: url("../fonts/Viland-icon.eot?1h2t48");
  src: url("../fonts/Viland-icon.eot?1h2t48#iefix") format("embedded-opentype"), url("../fonts/Viland-icon.ttf?1h2t48") format("truetype"), url("../fonts/Viland-icon.woff?1h2t48") format("woff"), url("../fonts/Viland-icon.svg?1h2t48#Viland-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 14, scss/_icon-style.scss */

[class^="vi-"],
[class*=" vi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Viland-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 30, scss/_icon-style.scss */

.vi-icon-accom:before {
  content: "";
}

/* line 35, scss/_icon-style.scss */

.vi-icon-add-basket:before {
  content: "";
}

/* line 40, scss/_icon-style.scss */

.vi-icon-basket:before {
  content: "";
}

/* line 45, scss/_icon-style.scss */

.vi-icon-bus:before {
  content: "";
}

/* line 50, scss/_icon-style.scss */

.vi-icon-calendar:before {
  content: "";
}

/* line 55, scss/_icon-style.scss */

.vi-icon-cart:before {
  content: "";
}

/* line 60, scss/_icon-style.scss */

.vi-icon-close:before {
  content: "";
}

/* line 65, scss/_icon-style.scss */

.vi-icon-cooking:before {
  content: "";
}

/* line 70, scss/_icon-style.scss */

.vi-icon-cross:before {
  content: "";
}

/* line 75, scss/_icon-style.scss */

.vi-icon-des-experts:before {
  content: "";
}

/* line 80, scss/_icon-style.scss */

.vi-icon-des-experts-2:before {
  content: "";
}

/* line 85, scss/_icon-style.scss */

.vi-icon-ex-local-guides:before {
  content: "";
}

/* line 90, scss/_icon-style.scss */

.vi-icon-fb:before {
  content: "";
}

/* line 95, scss/_icon-style.scss */

.vi-icon-flight:before {
  content: "";
}

/* line 100, scss/_icon-style.scss */

.vi-icon-gp:before {
  content: "";
}

/* line 105, scss/_icon-style.scss */

.vi-icon-in:before {
  content: "";
}

/* line 110, scss/_icon-style.scss */

.vi-icon-lock:before {
  content: "";
}

/* line 115, scss/_icon-style.scss */

.vi-icon-mail:before {
  content: "";
}

/* line 120, scss/_icon-style.scss */

.vi-icon-meal:before {
  content: "";
}

/* line 125, scss/_icon-style.scss */

.vi-icon-menu:before {
  content: "";
}

/* line 130, scss/_icon-style.scss */

.vi-icon-mouse-down:before {
  content: "";
}

/* line 135, scss/_icon-style.scss */

.vi-icon-notice:before {
  content: "";
}

/* line 140, scss/_icon-style.scss */

.vi-icon-paypal .path1:before {
  content: "";
  color: #35679a;
}

/* line 146, scss/_icon-style.scss */

.vi-icon-paypal .path2:before {
  content: "";
  margin-left: -1em;
  color: #1c3761;
}

/* line 153, scss/_icon-style.scss */

.vi-icon-paypal .path3:before {
  content: "";
  margin-left: -1em;
  color: #1c3761;
}

/* line 160, scss/_icon-style.scss */

.vi-icon-paypal .path4:before {
  content: "";
  margin-left: -1em;
  color: #35679a;
}

/* line 167, scss/_icon-style.scss */

.vi-icon-paypal .path5:before {
  content: "";
  margin-left: -1em;
  color: #1c3761;
}

/* line 174, scss/_icon-style.scss */

.vi-icon-paypal .path6:before {
  content: "";
  margin-left: -1em;
  color: #35679a;
}

/* line 181, scss/_icon-style.scss */

.vi-icon-paypal .path7:before {
  content: "";
  margin-left: -1em;
  color: #35679a;
}

/* line 188, scss/_icon-style.scss */

.vi-icon-paypal .path8:before {
  content: "";
  margin-left: -1em;
  color: #35679a;
}

/* line 195, scss/_icon-style.scss */

.vi-icon-phone:before {
  content: "";
}

/* line 200, scss/_icon-style.scss */

.vi-icon-pin:before {
  content: "";
}

/* line 205, scss/_icon-style.scss */

.vi-icon-plane:before {
  content: "";
}

/* line 210, scss/_icon-style.scss */

.vi-icon-play:before {
  content: "";
}

/* line 215, scss/_icon-style.scss */

.vi-icon-print:before {
  content: "";
}

/* line 220, scss/_icon-style.scss */

.vi-icon-pt:before {
  content: "";
}

/* line 225, scss/_icon-style.scss */

.vi-icon-share:before {
  content: "";
}

/* line 230, scss/_icon-style.scss */

.vi-icon-skype:before {
  content: "";
}

/* line 235, scss/_icon-style.scss */

.vi-icon-support .path1:before {
  content: "";
  color: none;
}

/* line 241, scss/_icon-style.scss */

.vi-icon-support .path2:before {
  content: "";
  margin-left: -1em;
  color: #096368;
}

/* line 248, scss/_icon-style.scss */

.vi-icon-support .path3:before {
  content: "";
  margin-left: -1em;
  color: #096368;
}

/* line 255, scss/_icon-style.scss */

.vi-icon-support .path4:before {
  content: "";
  margin-left: -1em;
  color: #096368;
}

/* line 262, scss/_icon-style.scss */

.vi-icon-support .path5:before {
  content: "";
  margin-left: -1em;
  color: #096368;
}

/* line 269, scss/_icon-style.scss */

.vi-icon-support .path6:before {
  content: "";
  margin-left: -1em;
  color: #096368;
}

/* line 276, scss/_icon-style.scss */

.vi-icon-support .path7:before {
  content: "";
  margin-left: -1em;
  color: #096368;
}

/* line 283, scss/_icon-style.scss */

.vi-icon-support .path8:before {
  content: "";
  margin-left: -1em;
  color: #096368;
}

/* line 290, scss/_icon-style.scss */

.vi-icon-support .path9:before {
  content: "";
  margin-left: -1em;
  color: #096368;
}

/* line 297, scss/_icon-style.scss */

.vi-icon-support .path10:before {
  content: "";
  margin-left: -1em;
  color: #096368;
}

/* line 304, scss/_icon-style.scss */

.vi-icon-support .path11:before {
  content: "";
  margin-left: -1em;
  color: #096368;
}

/* line 311, scss/_icon-style.scss */

.vi-icon-support .path12:before {
  content: "";
  margin-left: -1em;
  color: #096368;
}

/* line 318, scss/_icon-style.scss */

.vi-icon-support .path13:before {
  content: "";
  margin-left: -1em;
  color: #096368;
}

/* line 325, scss/_icon-style.scss */

.vi-icon-support .path14:before {
  content: "";
  margin-left: -1em;
  color: white;
}

/* line 332, scss/_icon-style.scss */

.vi-icon-support .path15:before {
  content: "";
  margin-left: -1em;
  color: white;
}

/* line 339, scss/_icon-style.scss */

.vi-icon-support .path16:before {
  content: "";
  margin-left: -1em;
  color: white;
}

/* line 346, scss/_icon-style.scss */

.vi-icon-support .path17:before {
  content: "";
  margin-left: -1em;
  color: white;
}

/* line 353, scss/_icon-style.scss */

.vi-icon-support .path18:before {
  content: "";
  margin-left: -1em;
  color: white;
}

/* line 360, scss/_icon-style.scss */

.vi-icon-tour-guide:before {
  content: "";
}

/* line 365, scss/_icon-style.scss */

.vi-icon-tt:before {
  content: "";
}

/* line 370, scss/_icon-style.scss */

.vi-icon-user:before {
  content: "";
}

/* line 375, scss/_icon-style.scss */

.vi-icon-yt:before {
  content: "";
}

/* Mixin */

/* animation */

/* border radius */

/* box shadow */

/* box sizing */

/* backface visibility */

/* calculate */

/* clear fix */

/* font smoothing */

/* font style */

/* filter */

/* icon font */

/* text stroke */

/* transform */

/* transform style */

/* transition */

/* opacity */

/* placeholder */

/* breakpoint with one condition(min or max) */

/* breakpoint with two conditions (min and max) */

/* extend placeholder */

/* Variable */

/* Background */

/* Border */

/* Break point */

/* Color */

/* Font */

/* Layout */

/* Global */

/* General styles */

/* line 3, scss/global/_general.scss */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, scss/global/_general.scss */

html,
body {
  height: 100%;
}

/* line 11, scss/global/_general.scss */

body {
  background: #ffffff;
  font-size: 14px;
  margin: 0;
  font-family: "AvenirNextMedium";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 19, scss/global/_general.scss */

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

/* line 25, scss/global/_general.scss */

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

/* line 28, scss/global/_general.scss */

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

/* line 34, scss/global/_general.scss */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AvenirNextBold";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 39, scss/global/_general.scss */

ul,
ol {
  margin: 0;
  padding: 0;
}

/* line 44, scss/global/_general.scss */

#wrapper {
  min-height: 100%;
  max-width: 1366px;
  margin: 0 auto;
  overflow-x: hidden;
}

/* line 51, scss/global/_general.scss */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* line 57, scss/global/_general.scss */

.clear-fix:before,
.clear-fix:after {
  content: '';
  display: table;
}

/* line 61, scss/global/_general.scss */

.clear-fix:after {
  clear: both;
}

/* Header styles */

/* line 3, scss/global/_header.scss */

#header {
  background: #10726e;
  height: 98px;
  padding: 0 75px;
  position: relative;
}

/* line 8, scss/global/_header.scss */

#header .logo {
  float: left;
  padding: 31px 0;
}

/* line 11, scss/global/_header.scss */

#header .logo img {
  width: 171px;
}

/* line 15, scss/global/_header.scss */

#header .nav-menu {
  float: left;
  max-width: 640px;
  margin-left: 30px;
}

/* line 19, scss/global/_header.scss */

#header .nav-menu ul {
  font-size: 0;
}

/* line 21, scss/global/_header.scss */

#header .nav-menu ul li {
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

/* line 25, scss/global/_header.scss */

#header .nav-menu ul li a {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-size: 16px;
  font-family: "AvenirNextBold";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  padding: 38px 30px;
  position: relative;
}

/* line 34, scss/global/_header.scss */

#header .nav-menu ul li a:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  background: none;
  border: 22px solid transparent;
  border-bottom-color: #07575b;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 52, scss/global/_header.scss */

#header .nav-menu ul li.hovered > a:after {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 56, scss/global/_header.scss */

#header .nav-menu ul li.hovered .sub-menu {
  z-index: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 62, scss/global/_header.scss */

#header .nav-menu ul.sub-menu {
  background: #07575b;
  width: 100%;
  height: auto;
  padding: 20px 275px;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

/* line 73, scss/global/_header.scss */

#header .nav-menu ul.sub-menu li {
  width: 33.333%;
  padding: 10px 30px;
}

/* line 76, scss/global/_header.scss */

#header .nav-menu ul.sub-menu li a {
  font-size: 15px;
  font-family: "AvenirNextDemiBold";
  font-style: normal;
  font-weight: normal;
  padding: 0;
}

/* line 80, scss/global/_header.scss */

#header .nav-menu ul.sub-menu li a:after {
  background: #06373a;
  border: none;
  width: 100%;
  height: 2px;
  margin: 0;
  bottom: -4px;
  left: 0;
}

/* line 89, scss/global/_header.scss */

#header .nav-menu ul.sub-menu li a:hover {
  color: #06373a;
}

/* line 91, scss/global/_header.scss */

#header .nav-menu ul.sub-menu li a:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 100, scss/global/_header.scss */

#header .header-link {
  float: right;
  padding: 30px 0;
}

/* line 103, scss/global/_header.scss */

#header .header-link ul {
  font-size: 0;
}

/* line 105, scss/global/_header.scss */

#header .header-link ul li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "AvenirNextBold";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 113, scss/global/_header.scss */

#header .header-link ul li a {
  color: #ffffff;
}

/* line 116, scss/global/_header.scss */

#header .header-link ul li .vi-icon-phone,
#header .header-link ul li .vi-icon-basket,
#header .header-link ul li .vi-icon-user {
  font-size: 28px;
}

/* line 122, scss/global/_header.scss */

#header .header-link ul li .vi-icon-menu {
  font-size: 24px;
}

/* line 125, scss/global/_header.scss */

#header .header-link ul li.phone {
  margin-right: 35px;
  padding-left: 40px;
  position: relative;
}

/* line 129, scss/global/_header.scss */

#header .header-link ul li.phone .vi-icon-phone {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -14px;
}

/* line 135, scss/global/_header.scss */

#header .header-link ul li.phone span {
  display: block;
  line-height: 1.4;
}

/* line 140, scss/global/_header.scss */

#header .header-link ul li.basket {
  margin-right: 15px;
}

/* line 143, scss/global/_header.scss */

#header .header-link ul li.menu-toggle {
  display: none;
}

/* line 145, scss/global/_header.scss */

#header .header-link ul li.menu-toggle .vi-icon-menu {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}

/* Footer styles */

/* line 4, scss/global/_footer.scss */

#footer .footer-container {
  background: #0e6a68;
  max-width: 1366px;
  margin: 0 auto;
}

/* line 9, scss/global/_footer.scss */

#footer .newsletter-block {
  background: #13887d;
}

/* line 11, scss/global/_footer.scss */

#footer .newsletter-block span {
  float: left;
  color: #ffffff;
  font-size: 24px;
  font-family: "AvenirNextBold";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 30px;
  padding: 30px 0;
}

/* line 21, scss/global/_footer.scss */

#footer .newsletter-block .frm_forms .frm_form_fields {
  text-align: center;
}

/* line 23, scss/global/_footer.scss */

#footer .newsletter-block .frm_forms .frm_form_fields fieldset {
  border: none !important;
  padding: 0 !important;
}

/* line 27, scss/global/_footer.scss */

#footer .newsletter-block .frm_forms .frm_form_fields .form-field {
  margin-bottom: 0 !important;
}

/* line 30, scss/global/_footer.scss */

#footer .newsletter-block .frm_forms .frm_form_fields .frm_primary_label {
  display: none;
}

/* line 33, scss/global/_footer.scss */

#footer .newsletter-block .frm_forms .frm_form_fields .frm_form_field {
  clear: none;
  display: inline-block;
  vertical-align: top;
  padding: 27px 0;
}

/* line 39, scss/global/_footer.scss */

#footer .newsletter-block .frm_forms .frm_form_fields .frm_hidden {
  display: none;
}

/* line 42, scss/global/_footer.scss */

#footer .newsletter-block .frm_forms .frm_form_fields input {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background: none !important;
  border: none !important;
  border-bottom: 4px solid #0f666b !important;
  color: #0f666b !important;
  font-size: 24px !important;
  font-family: "AvenirNextBold" !important;
  font-style: normal;
  font-weight: normal;
  width: 325px !important;
  text-transform: uppercase;
  padding: 0 !important;
}

/* line 55, scss/global/_footer.scss */

#footer .newsletter-block .frm_forms .frm_form_fields .frm_submit {
  clear: none;
  float: right;
}

/* line 58, scss/global/_footer.scss */

#footer .newsletter-block .frm_forms .frm_form_fields .frm_submit button {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background: #12746f !important;
  border: none !important;
  color: #13887d !important;
  font-size: 24px !important;
  font-family: "AvenirNextBold" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 30px !important;
  text-transform: uppercase;
  padding: 30px 80px !important;
  outline: none;
}

/* line 76, scss/global/_footer.scss */

#footer .footer-content {
  font-size: 0;
  padding: 25px 0 15px;
}

/* line 79, scss/global/_footer.scss */

#footer .footer-content li {
  list-style: none;
}

/* line 82, scss/global/_footer.scss */

#footer .footer-content .footer-title {
  color: #0c4d4c;
  font-size: 16px;
  font-family: "AvenirNextBold";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 5px;
}

/* line 89, scss/global/_footer.scss */

#footer .footer-content .footer-block {
  display: inline-block;
  vertical-align: top;
}

/* line 92, scss/global/_footer.scss */

#footer .footer-content .footer-block p,
#footer .footer-content .footer-block span,
#footer .footer-content .footer-block ul li {
  color: #0c4d4c;
  font-family: "AvenirNextDemiBold";
  font-style: normal;
  font-weight: normal;
}

/* line 96, scss/global/_footer.scss */

#footer .footer-content .footer-block p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

/* line 101, scss/global/_footer.scss */

#footer .footer-content .footer-block span,
#footer .footer-content .footer-block ul li {
  font-size: 12px;
}

/* line 104, scss/global/_footer.scss */

#footer .footer-content .footer-block a {
  color: #0c4d4c;
}

/* line 108, scss/global/_footer.scss */

#footer .footer-content .footer-block ul li {
  display: inline-block;
  vertical-align: top;
}

/* line 114, scss/global/_footer.scss */

#footer .footer-content .footer-block-1 {
  width: 35%;
}

/* line 116, scss/global/_footer.scss */

#footer .footer-content .footer-block-1 ul {
  max-width: 80%;
  margin-top: 15px;
}

/* line 119, scss/global/_footer.scss */

#footer .footer-content .footer-block-1 ul li {
  line-height: 1.6;
  padding-right: 60px;
}

/* line 122, scss/global/_footer.scss */

#footer .footer-content .footer-block-1 ul li:nth-child(3) {
  padding-right: 15px;
}

/* line 128, scss/global/_footer.scss */

#footer .footer-content .footer-block-2 {
  width: 40%;
  padding-left: 60px;
  position: relative;
}

/* line 132, scss/global/_footer.scss */

#footer .footer-content .footer-block-2 .vi-icon-phone {
  color: #08575b;
  font-size: 26px;
  position: absolute;
  left: 20px;
  top: 30px;
}

/* line 139, scss/global/_footer.scss */

#footer .footer-content .footer-block-2 p {
  line-height: 1.6;
}

/* line 142, scss/global/_footer.scss */

#footer .footer-content .footer-block-2 span {
  display: block;
  line-height: 1.6;
}

/* line 145, scss/global/_footer.scss */

#footer .footer-content .footer-block-2 span:first-of-type {
  margin-top: 10px;
}

/* line 150, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 {
  width: 25%;
  padding-left: 10px;
}

/* line 153, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 .footer-title {
  margin: 0 0 10px;
}

/* line 158, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 ul li a {
  font-size: 0;
}

/* line 160, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 ul li a:before {
  content: '';
  display: block;
  color: #08575b;
  font-size: 23px;
  font-family: 'Viland-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/* line 170, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 ul li.facebook a:before {
  content: '\e90c';
}

/* line 177, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 ul li.twitter a:before {
  content: '\e939';
}

/* line 184, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 ul li.google-plus a:before {
  content: '\e90e';
}

/* line 191, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 ul li.linkedin a:before {
  content: '\e90f';
}

/* line 198, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 ul li.pinterest a:before {
  content: '\e923';
}

/* line 205, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 ul li.skype a:before {
  content: '\e925';
}

/* line 212, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 ul li.youtube a:before {
  content: '\e93b';
  font-size: 27px;
}

/* line 219, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 ul li + li {
  margin-left: 18px;
}

/* line 223, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 .widget_text {
  margin-top: 25px;
  padding-left: 40px;
  position: relative;
}

/* line 227, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 .widget_text .footer-title {
  margin: 0;
}

/* line 231, scss/global/_footer.scss */

#footer .footer-content .footer-block-3 .vi-icon-plane {
  color: #08575b;
  font-size: 25px;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 242, scss/global/_footer.scss */

#ub_global_footer_content {
  background: #0d6361;
  max-width: 1366px;
  margin: 0 auto;
  padding: 14px 0;
}

/* line 247, scss/global/_footer.scss */

#ub_global_footer_content p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #0c4d4c;
  font-size: 12px;
  font-weight: 700;
  text-align: left !important;
  max-width: 1140px;
  margin: 0 auto;
}

/* line 256, scss/global/_footer.scss */

#ub_global_footer_content a {
  color: #0c4d4c !important;
  text-decoration: none !important;
}

/* line 259, scss/global/_footer.scss */

#ub_global_footer_content a img {
  display: none;
}

/* line 263, scss/global/_footer.scss */

#ub_global_footer_content span {
  color: #0c4d4c !important;
  text-decoration: none !important;
}

/* Component */

/* Button styles */

/* line 3, scss/component/_button.scss */

.button {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #0f666b;
  color: #ffffff;
  font-size: 18px;
  font-family: "AvenirNextBold";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  width: 185px;
  display: block;
  margin: 0 auto;
  padding: 12px;
}

/* Pages */

/* Home page styles */

/* line 4, scss/page/_home.scss */

.home #wrapper {
  position: relative;
}

/* line 8, scss/page/_home.scss */

.home #header {
  background: none;
  width: 100%;
  position: absolute;
  z-index: 1;
}

/* line 15, scss/page/_home.scss */

.home .home-slider {
  position: relative;
}

/* line 17, scss/page/_home.scss */

.home .home-slider .tp-resizeme {
  font-family: "AvenirNextBold";
  font-style: normal;
  font-weight: normal;
}

/* line 20, scss/page/_home.scss */

.home .home-slider .rev-btn {
  font-family: "AvenirNextBold" !important;
  font-style: normal;
  font-weight: normal;
}

/* line 23, scss/page/_home.scss */

.home .home-slider .tp-parallax-wrap {
  font-size: 0;
}

/* line 26, scss/page/_home.scss */

.home .home-slider .tp-parallax-wrap:nth-of-type(4) .tp-resizeme {
  font-family: "AvenirNextDemiBold";
  font-style: normal;
  font-weight: normal;
}

/* line 32, scss/page/_home.scss */

.home .home-slider .hesperiden.tparrows {
  width: 24px;
  height: 63px;
}

/* line 35, scss/page/_home.scss */

.home .home-slider .hesperiden.tparrows:before {
  display: none;
}

/* line 38, scss/page/_home.scss */

.home .home-slider .hesperiden.tparrows.tp-leftarrow {
  background: url("../images/arr-prev-slide.png") no-repeat center transparent;
}

/* line 41, scss/page/_home.scss */

.home .home-slider .hesperiden.tparrows.tp-rightarrow {
  background: url("../images/arr-next-slide.png") no-repeat center transparent;
}

/* line 47, scss/page/_home.scss */

.home .home-slider .tp-bullets .tp-bullet {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background: #ffffff;
  width: 13px;
  height: 13px;
}

/* line 53, scss/page/_home.scss */

.home .home-slider .tp-bullets .tp-bullet.selected {
  background: none;
  border-color: #1c857d;
}

/* line 59, scss/page/_home.scss */

.home .home-slider .scroll-down {
  color: #ffffff;
  font-size: 24px;
  font-family: "AvenirNextBold";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 68, scss/page/_home.scss */

.home .home-slider .scroll-down .vi-icon-mouse-down {
  display: inline-block;
  vertical-align: top;
  font-size: 48px;
}

/* line 74, scss/page/_home.scss */

.home .home-slider .social-share {
  font-size: 0;
  position: absolute;
  bottom: 40px;
  right: 80px;
}

/* line 79, scss/page/_home.scss */

.home .home-slider .social-share li {
  display: inline-block;
  vertical-align: top;
}

/* line 82, scss/page/_home.scss */

.home .home-slider .social-share li a {
  color: #ffffff;
}

/* line 85, scss/page/_home.scss */

.home .home-slider .social-share li i {
  display: block;
  font-size: 21px;
}

/* line 90, scss/page/_home.scss */

.home .home-slider .social-share li:last-child i {
  font-size: 31px;
  margin-top: -5px;
}

/* line 96, scss/page/_home.scss */

.home .home-slider .social-share li + li {
  padding-left: 20px;
}

/* line 102, scss/page/_home.scss */

.home .find-tour {
  background: #127d76;
}

/* line 55, scss/_mixin.scss */

.home .find-tour:after {
  display: block;
  content: '';
  clear: both;
}

/* line 105, scss/page/_home.scss */

.home .find-tour h3 {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  padding: 20px 0;
}

/* line 112, scss/page/_home.scss */

.home .find-tour .selection-box select,
.home .find-tour .selection-box input {
  float: left;
  width: -moz-calc((100% - 30px)/4);
  width: -webkit-calc((100% - 30px)/4);
  width: calc((100% - 30px)/4);
}

/* line 116, scss/page/_home.scss */

.home .find-tour .selection-box select {
  background: #106f6c;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-family: "AvenirNextDemiBold";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 14px 15px;
  outline: none;
}

/* line 128, scss/page/_home.scss */

.home .find-tour .selection-box input {
  background: #0d6565;
  border: none;
  cursor: pointer;
  color: #1c857d;
  font-size: 18px;
  font-family: "AvenirNextDemiBold";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  width: -moz-calc((100% - 30px)/4) !important;
  width: -webkit-calc((100% - 30px)/4) !important;
  width: calc((100% - 30px)/4) !important;
  padding: 15px;
  outline: none;
}

/* line 141, scss/page/_home.scss */

.home .find-tour .selection-box .selectBox-dropdown {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: -moz-calc((100% - 30px)/4) !important;
  width: -webkit-calc((100% - 30px)/4) !important;
  width: calc((100% - 30px)/4) !important;
  background: #106f6c;
  border: none;
  float: left;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-family: "AvenirNextDemiBold";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 20px 20px 13px;
  outline: none;
}

/* line 157, scss/page/_home.scss */

.home .find-tour .selection-box .selectBox-dropdown .selectBox-label {
  padding: 0;
}

/* line 160, scss/page/_home.scss */

.home .find-tour .selection-box .selectBox-dropdown .selectBox-arrow {
  border: none;
  width: 16px;
  height: 11px;
  background: url("../images/arr-down.png") no-repeat center transparent;
  right: 20px;
  top: 50%;
  margin-top: -5px;
}

/* line 174, scss/page/_home.scss */

.home .popular-tour h3 {
  color: #13887d;
  font-size: 22px;
  text-align: center;
  margin: 30px 0 20px;
}

/* line 180, scss/page/_home.scss */

.home .popular-tour .popular-products {
  margin-bottom: 30px;
}

/* line 55, scss/_mixin.scss */

.home .popular-tour .popular-products:after {
  display: block;
  content: '';
  clear: both;
}

/* line 183, scss/page/_home.scss */

.home .popular-tour .popular-products li {
  float: left;
  list-style: none;
  width: -moz-calc((100% - 30px)/4);
  width: -webkit-calc((100% - 30px)/4);
  width: calc((100% - 30px)/4);
}

/* line 187, scss/page/_home.scss */

.home .popular-tour .popular-products li a {
  color: #ffffff;
  display: block;
  text-align: center;
  padding-bottom: 98px;
  position: relative;
  overflow: hidden;
}

/* line 195, scss/page/_home.scss */

.home .popular-tour .popular-products li a:hover .info {
  bottom: 0;
}

/* line 200, scss/page/_home.scss */

.home .popular-tour .popular-products li p {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

/* line 205, scss/page/_home.scss */

.home .popular-tour .popular-products li h4 {
  font-size: 16px;
  font-family: "AvenirNextDemiBold";
  font-style: normal;
  font-weight: normal;
  max-height: 59px;
  margin: 0;
  padding: 0 45px 15px;
  overflow: hidden;
}

/* line 213, scss/page/_home.scss */

.home .popular-tour .popular-products li button {
  background: #0f666b;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-family: "AvenirNextDemiBold";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  display: block;
  width: 100%;
  margin-top: 35px;
  padding: 15px;
  outline: none;
}

/* line 227, scss/page/_home.scss */

.home .popular-tour .popular-products li .info {
  background: #10726e;
  display: block;
  margin: 0;
  padding: 10px 0 0;
  position: absolute;
  bottom: -84px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 237, scss/page/_home.scss */

.home .popular-tour .popular-products li + li {
  margin-left: 10px;
}

/* line 241, scss/page/_home.scss */

.home .popular-tour .view-all-tours {
  clear: both;
  margin-bottom: 35px;
}

/* line 247, scss/page/_home.scss */

.home .categories-tour {
  background: #f8f8f8;
  padding: 25px 0 35px;
  position: relative;
  z-index: 1;
}

/* line 252, scss/page/_home.scss */

.home .categories-tour:before {
  content: '';
  display: block;
  background: #127d76;
  width: 100%;
  height: 247px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/* line 263, scss/page/_home.scss */

.home .categories-tour h3 {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  margin: 0;
}

/* line 269, scss/page/_home.scss */

.home .categories-tour .categories-package {
  margin: 20px 0 15px;
}

/* line 55, scss/_mixin.scss */

.home .categories-tour .categories-package:after {
  display: block;
  content: '';
  clear: both;
}

/* line 272, scss/page/_home.scss */

.home .categories-tour .categories-package li {
  float: left;
  list-style: none;
  max-width: -moz-calc(50% - 10px);
  max-width: -webkit-calc(50% - 10px);
  max-width: calc(50% - 10px);
  margin: 0 10px 10px 0;
  position: relative;
}

/* line 278, scss/page/_home.scss */

.home .categories-tour .categories-package li:nth-child(3n) {
  margin-right: 0;
}

/* line 281, scss/page/_home.scss */

.home .categories-tour .categories-package li a {
  color: #ffffff;
  display: block;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 287, scss/page/_home.scss */

.home .categories-tour .categories-package li a:hover strong {
  font-size: 26px;
  top: 45%;
}

/* line 291, scss/page/_home.scss */

.home .categories-tour .categories-package li a:hover span {
  top: 60%;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 297, scss/page/_home.scss */

.home .categories-tour .categories-package li strong {
  font-size: 22px;
  font-family: "AvenirNextDemiBold";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  width: 74%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 309, scss/page/_home.scss */

.home .categories-tour .categories-package li span {
  background: #0f666b;
  font-size: 18px;
  font-family: "AvenirNextDemiBold";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  padding: 12px 15px;
  position: absolute;
  left: 50%;
  top: 65%;
  white-space: nowrap;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 325, scss/page/_home.scss */

.home .categories-tour .view-all-types {
  clear: both;
}

/* line 331, scss/page/_home.scss */

.home .testimonials h3 {
  color: #127d76;
  font-size: 22px;
  text-align: center;
  margin: 40px 0 0;
}

/* line 337, scss/page/_home.scss */

.home .testimonials .test-list {
  margin: 35px 0;
}

/* line 339, scss/page/_home.scss */

.home .testimonials .test-list li {
  list-style: none;
  text-align: center;
  padding: 0 100px;
}

/* line 343, scss/page/_home.scss */

.home .testimonials .test-list li a {
  color: #adacac;
  display: block;
}

/* line 349, scss/page/_home.scss */

.home .testimonials .test-list .post-excerpt p {
  color: #adacac;
  font-size: 22px;
  font-family: "AvenirNextDemiBoldItalic";
  font-style: normal;
  font-weight: normal;
  line-height: 1.3;
  margin: 0 0 15px;
}

/* line 358, scss/page/_home.scss */

.home .testimonials .test-list img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  width: 78px;
  height: 78px;
  margin: 0 auto;
}

/* line 365, scss/page/_home.scss */

.home .testimonials .test-list .detail {
  color: #096368;
  font-size: 18px;
  margin-top: 10px;
}

/* line 370, scss/page/_home.scss */

.home .testimonials .test-list .slick-prev,
.home .testimonials .test-list .slick-next {
  width: 13px;
  height: 35px;
  top: 10px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}

/* line 375, scss/page/_home.scss */

.home .testimonials .test-list .slick-prev:before,
.home .testimonials .test-list .slick-next:before {
  display: none;
}

/* line 379, scss/page/_home.scss */

.home .testimonials .test-list .slick-prev {
  background: url("../images/arr-prev-testi.png") no-repeat center transparent;
  left: -65px;
}

/* line 383, scss/page/_home.scss */

.home .testimonials .test-list .slick-next {
  background: url("../images/arr-next-testi.png") no-repeat center transparent;
  right: -65px;
}

/* line 390, scss/page/_home.scss */

.home .why-travel {
  background: #10726e;
  padding: 30px 0;
}

/* line 393, scss/page/_home.scss */

.home .why-travel h3 {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  margin: 0;
}

/* line 399, scss/page/_home.scss */

.home .why-travel .reason-list {
  font-size: 0;
  margin-top: 40px;
}

/* line 402, scss/page/_home.scss */

.home .why-travel .reason-list li {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  text-align: center;
  width: 25%;
  padding: 0 30px;
}

/* line 409, scss/page/_home.scss */

.home .why-travel .reason-list li img {
  display: block;
  width: 110px;
  height: auto;
  margin: 0 auto;
}

/* line 415, scss/page/_home.scss */

.home .why-travel .reason-list li strong {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-family: "AvenirNextDemiBold";
  font-style: normal;
  font-weight: normal;
  line-height: 1.3;
  text-transform: uppercase;
  margin-top: 20px;
}

/* line 428, scss/page/_home.scss */

.home .selectBox-dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #106f6c;
}

/* line 433, scss/page/_home.scss */

.home .selectBox-dropdown-menu li a {
  color: #ffffff;
  font-family: "AvenirNextDemiBold";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  padding: 10px 20px;
}

/* line 441, scss/page/_home.scss */

.home .selectBox-dropdown-menu li.selectBox-hover a,
.home .selectBox-dropdown-menu li.selectBox-selected a {
  background: #13887d;
}