/* Home page styles */

.home {
    #wrapper {
        position: relative;
    }
    #header {
        background: none;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
    .home-slider {
        position: relative;
        .tp-resizeme {
            @include font-style($f-avenir-next-bold);
        }
        .rev-btn {
            @include font-style($f-avenir-next-bold !important);
        }
        .tp-parallax-wrap {
            font-size: 0;
            &:nth-of-type(4) {
                .tp-resizeme {
                    @include font-style($f-avenir-next-demibold);
                }
            }
        }
        .hesperiden {
            &.tparrows {
                width: 24px;
                height: 63px;
                &:before {
                    display: none;
                }
                &.tp-leftarrow {
                    background: url("../images/arr-prev-slide.png") no-repeat center transparent;
                }
                &.tp-rightarrow {
                    background: url("../images/arr-next-slide.png") no-repeat center transparent;
                }
            }
        }
        .tp-bullets {
            .tp-bullet {
                @include border-radius(50%);
                border: 3px solid $c-white;
                background: $c-white;
                width: 13px;
                height: 13px;
                &.selected {
                    background: none;
                    border-color: $bd-green;
                }
            }
        }
        .scroll-down {
            color: $c-white;
            font-size: 24px;
            @include font-style($f-avenir-next-bold);
            text-transform: uppercase;
            position: absolute;
            bottom: 20px;
            left: 50%;
            @include transform(translateX(-50%));
            .vi-icon-mouse-down {
                display: inline-block;
                vertical-align: top;
                font-size: 48px;
            }
        }
        .social-share {
            font-size: 0;
            position: absolute;
            bottom: 40px;
            right: 80px;
            li {
                display: inline-block;
                vertical-align: top;
                a {
                    color: $c-white;
                }
                i {
                    display: block;
                    font-size: 21px;
                }
                &:last-child {
                    i {
                        font-size: 31px;
                        margin-top: -5px;
                    }
                }
            }
            li + li {
                padding-left: 20px;
            }
        }
    }
}