/* Home page styles */

.home {
    #wrapper {
        position: relative;
    }

    #header {
        background: none;
        width: 100%;
        position: absolute;
        z-index: 1;
    }

    .home-slider {
        position: relative;
        .tp-resizeme {
            @include font-style($f-avenir-next-bold);
        }
        .rev-btn {
            @include font-style($f-avenir-next-bold !important);
        }
        .tp-parallax-wrap {
            font-size: 0;
            &:nth-of-type(4) {
                .tp-resizeme {
                    @include font-style($f-avenir-next-demibold);
                }
            }
        }
        .hesperiden {
            &.tparrows {
                width: 24px;
                height: 63px;
                &:before {
                    display: none;
                }
                &.tp-leftarrow {
                    background: url("../images/arr-prev-slide.png") no-repeat center transparent;
                }
                &.tp-rightarrow {
                    background: url("../images/arr-next-slide.png") no-repeat center transparent;
                }
            }
        }
        .tp-bullets {
            .tp-bullet {
                @include border-radius(50%);
                border: 3px solid $c-white;
                background: $c-white;
                width: 13px;
                height: 13px;
                &.selected {
                    background: none;
                    border-color: $bd-green;
                }
            }
        }
        .scroll-down {
            color: $c-white;
            font-size: 24px;
            @include font-style($f-avenir-next-bold);
            text-transform: uppercase;
            position: absolute;
            bottom: 20px;
            left: 50%;
            @include transform(translateX(-50%));
            .vi-icon-mouse-down {
                display: inline-block;
                vertical-align: top;
                font-size: 48px;
            }
        }
        .social-share {
            font-size: 0;
            position: absolute;
            bottom: 40px;
            right: 80px;
            li {
                display: inline-block;
                vertical-align: top;
                a {
                    color: $c-white;
                }
                i {
                    display: block;
                    font-size: 21px;
                }
                &:last-child {
                    i {
                        font-size: 31px;
                        margin-top: -5px;
                    }
                }
            }
            li + li {
                padding-left: 20px;
            }
        }
    }

    .find-tour {
        background: $bg-tour-green;
        @include clear-fix();
        h3 {
            color: $c-white;
            font-size: 20px;
            @include font-style($f-avenir-next-bold);
            margin: 0;
            padding: 20px 0;
        }
        .selection-box {
            select, input {
                float: left;
                @include calc(width, '(100% - 30px)/4');
            }
            select {
                background: $bg-select-green;
                border: none;
                cursor: pointer;
                color: $c-white;
                font-size: 18px;
                @include font-style($f-avenir-next-demibold);
                text-transform: uppercase;
                margin-right: 10px;
                padding: 14px 15px;
                outline: none;
            }
            input {
                background: $bg-search-green;
                border: none;
                cursor: pointer;
                color: $bd-green;
                font-size: 18px;
                @include font-style($f-avenir-next-demibold);
                text-align: center;
                text-transform: uppercase;
                @include calc(width, '(100% - 30px)/4', 1);
                padding: 15px;
                outline: none;
            }
            .selectBox-dropdown {
                @include border-radius(0);
                @include box-shadow(none);
                @include calc(width, '(100% - 30px)/4', 1);
                background: $bg-select-green;
                border: none;
                float: left;
                cursor: pointer;
                color: $c-white;
                font-size: 18px;
                @include font-style($f-avenir-next-demibold);
                line-height: 1;
                text-transform: uppercase;
                margin-right: 10px;
                padding: 20px 20px 13px;
                outline: none;
                .selectBox-label {
                    padding: 0;
                }
                .selectBox-arrow {
                    border: none;
                    width: 16px;
                    height: 11px;
                    background: url("../images/arr-down.png") no-repeat center transparent;
                    right: 20px;
                    top: 50%;
                    margin-top: -5px;
                }
            }
        }
    }

    .popular-tour {
        h3 {
            color: $bg-light-green;
            font-size: 22px;
            @include font-style($f-avenir-next-bold);
            text-align: center;
            margin: 30px 0 20px;
        }
        .popular-products {
            @include clear-fix();
            margin-bottom: 30px;
            li {
                float: left;
                list-style: none;
                @include calc(width, '(100% - 30px)/4');
                a {
                    color: $c-white;
                    display: block;
                    text-align: center;
                    padding-bottom: 98px;
                    position: relative;
                    overflow: hidden;
                    &:hover {
                        .info {
                            bottom: 0;
                        }
                    }
                }
                p {
                    font-size: 14px;
                    text-transform: uppercase;
                    margin: 0 0 10px;
                }
                h4 {
                    font-size: 16px;
                    @include font-style($f-avenir-next-demibold);
                    max-height: 59px;
                    margin: 0;
                    padding: 0 45px 15px;
                    overflow: hidden;
                }
                button {
                    background: $c-grey-green;
                    border: none;
                    cursor: pointer;
                    color: $c-white;
                    font-size: 14px;
                    @include font-style($f-avenir-next-demibold);
                    text-transform: uppercase;
                    display: block;
                    width: 100%;
                    margin-top: 35px;
                    padding: 15px;
                    outline: none;
                }
                .info {
                    background: $bg-green;
                    display: block;
                    margin: 0;
                    padding: 10px 0 0;
                    position: absolute;
                    bottom: -84px;
                    @include transition();
                }
            }
            li + li {
                margin-left: 10px;
            }
        }
        .view-all-tours {
            clear: both;
            margin-bottom: 35px;
        }
    }

    .categories-tour {
        background: $bg-grey;
        padding: 25px 0 35px;
        position: relative;
        z-index: 1;
        &:before {
            content: '';
            display: block;
            background: $bg-tour-green;
            width: 100%;
            height: 247px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
        h3 {
            color: $c-white;
            font-size: 22px;
            @include font-style($f-avenir-next-bold);
            text-align: center;
            margin: 0;
        }
        .categories-package {
            margin-top: 20px;
            li {
                list-style: none;
                a {
                    color: $c-white;
                    display: block;
                    text-align: center;
                }
                strong {
                    font-size: 22px;
                    @include font-style($f-avenir-next-demibold);
                    line-height: 1;
                    text-transform: uppercase;
                }
                span {
                    background: $c-grey-green;
                    font-size: 18px;
                    @include font-style($f-avenir-next-demibold);
                    text-transform: uppercase;
                    padding: 12px 15px;
                }
            }
        }
        .view-all-types {
            clear: both;
        }
    }

    .selectBox-dropdown-menu {
        @include border-radius(0);
        @include box-shadow(none);
        background: $bg-select-green;
        li {
            a {
                color: $c-white;
                @include font-style($f-avenir-next-demibold);
                text-transform: uppercase;
                padding: 10px 20px;
            }
            &.selectBox-hover,
            &.selectBox-selected {
                a {
                    background: $bg-light-green;
                }
            }
        }
    }
}