$icomoon-font-path: "../fonts" !default;

$vi-icon-accom: "\e900";
$vi-icon-add-basket: "\e901";
$vi-icon-basket: "\e902";
$vi-icon-bus: "\e903";
$vi-icon-calendar: "\e904";
$vi-icon-cart: "\e905";
$vi-icon-close: "\e906";
$vi-icon-cooking: "\e907";
$vi-icon-cross: "\e908";
$vi-icon-des-experts: "\e909";
$vi-icon-des-experts-2: "\e90a";
$vi-icon-ex-local-guides: "\e90b";
$vi-icon-fb: "\e90c";
$vi-icon-flight: "\e90d";
$vi-icon-gp: "\e90e";
$vi-icon-in: "\e90f";
$vi-icon-lock: "\e910";
$vi-icon-mail: "\e911";
$vi-icon-meal: "\e912";
$vi-icon-menu: "\e913";
$vi-icon-mouse-down: "\e914";
$vi-icon-notice: "\e915";
$vi-icon-paypal-path1: "\e916";
$vi-icon-paypal-path2: "\e917";
$vi-icon-paypal-path3: "\e918";
$vi-icon-paypal-path4: "\e919";
$vi-icon-paypal-path5: "\e91a";
$vi-icon-paypal-path6: "\e91b";
$vi-icon-paypal-path7: "\e91c";
$vi-icon-paypal-path8: "\e91d";
$vi-icon-phone: "\e91e";
$vi-icon-pin: "\e91f";
$vi-icon-plane: "\e920";
$vi-icon-play: "\e921";
$vi-icon-print: "\e922";
$vi-icon-pt: "\e923";
$vi-icon-share: "\e924";
$vi-icon-skype: "\e925";
$vi-icon-support-path1: "\e926";
$vi-icon-support-path2: "\e927";
$vi-icon-support-path3: "\e928";
$vi-icon-support-path4: "\e929";
$vi-icon-support-path5: "\e92a";
$vi-icon-support-path6: "\e92b";
$vi-icon-support-path7: "\e92c";
$vi-icon-support-path8: "\e92d";
$vi-icon-support-path9: "\e92e";
$vi-icon-support-path10: "\e92f";
$vi-icon-support-path11: "\e930";
$vi-icon-support-path12: "\e931";
$vi-icon-support-path13: "\e932";
$vi-icon-support-path14: "\e933";
$vi-icon-support-path15: "\e934";
$vi-icon-support-path16: "\e935";
$vi-icon-support-path17: "\e936";
$vi-icon-support-path18: "\e937";
$vi-icon-tour-guide: "\e938";
$vi-icon-tt: "\e939";
$vi-icon-user: "\e93a";
$vi-icon-yt: "\e93b";

