/* Background */
$bg-grey: #f8f8f8;
$bg-green: #10726e;
$bg-light-green: #13887d;
$bg-grey-green: #0e6a68;
$bg-dark-green: #07575b;
$bg-blur-green: #12746f;
$bg-copy-green: #0d6361;
$bg-tour-green: #127d76;
$bg-select-green: #106f6c;
$bg-search-green: #0d6565;

/* Border */
$bd-green: #1c857d;

/* Break point */
$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 480px;

/* Color */
$c-grey: #adacac;
$c-white: #ffffff;
$c-grey-green: #0f666b;
$c-dark-green: #06373a;
$c-copy-green: #0c4d4c;
$c-foot-green: #08575b;
$c-test-green: #096368;

/* Font */
$f-avenir-next-medium: 'AvenirNextMedium';
$f-avenir-next-demibold: 'AvenirNextDemiBold';
$f-avenir-next-demibold-italic: 'AvenirNextDemiBoldItalic';
$f-avenir-next-bold: 'AvenirNextBold';
$f-proxima-nova-altbold: 'ProximaNovaAltBold';
$f-open-sans: 'Open Sans', sans-serif;

/* Layout */
$wrapper-width: 1366px;
$container-width: 1140px;

