/* Background */
$bg-green: #10726e;
$bg-dark-green: #07575b;

/* Border */


/* Break point */
$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 480px;

/* Color */
$c-white: #ffffff;
$c-dark-green: #06373a;

/* Font */
$f-avenir-next-medium: 'AvenirNextMedium';
$f-avenir-next-demibold: 'AvenirNextDemiBold';
$f-avenir-next-demibold-italic: 'AvenirNextDemiBoldItalic';
$f-avenir-next-bold: 'AvenirNextBold';

/* Layout */


