/* General styles */

* {
    @include box-sizing(border-box);
}

html, body {
    height: 100%;
}

body {
    background: $c-white;
    font-size: 14px;
    margin: 0;
    @include font-style($f-avenir-next-medium);
    @include font-smoothing(antialiased);
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    @include transition();
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: none;
        outline: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    @include font-style($f-avenir-next-bold);
    text-transform: uppercase;
}

ul, ol {
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    max-width: $wrapper-width;
    margin: 0 auto;
    overflow-x: hidden;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}

.clear-fix {
    &:before, &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
