/* General styles */

* {
    @include box-sizing(border-box);
}

html, body {
    height: 100%;
}

body {
    background: $c-white;
    margin: 0;
    @include font-smoothing(antialiased);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    @include transition();
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

ul, ol {
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    max-width: 1366px;
    margin: 0 auto;
    overflow-x: hidden;
}
